@use 'themes' as themes;

.accordion {
    &__element {
        width: 100%;
    }

    &__toggle {
        cursor: pointer;
        background-color: themes.themed(primary-color);
    }

    &__body {
        width: 100%;

        & tr {
            width: 100%;
            display: grid;
            grid-template-columns: 20% auto min-content;
            gap: 10px;
            position: relative;
            padding: 20px 0;

            & th a {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: start;
            }
        }
    }
}

