@use 'themes' as themes;
@use 'third_party/google/fonts' as fonts;

.accordion {

    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 50px;

    &__element {
        @include themes.border;
        @include themes.shadow;

        background-color: themes.themed('primary-background-light');


        .accordion__toggle {
            background-color: themes.themed('red-background');
            color: themes.unthemed('red-foreground');
        }

        &:nth-child(4n+1) {
            .accordion__toggle {
                background-color: themes.themed('green-background');
                color: themes.unthemed('green-foreground');
            }
        }

        &:nth-child(4n+2) {
            .accordion__toggle {
                background-color: themes.themed('blue-background');
                color: themes.unthemed('blue-foreground');
            }
        }

        &:nth-child(4n+3) {
            .accordion__toggle {
                background-color: themes.themed('yellow-background');
                color: themes.unthemed('yellow-foreground');
            }
        }
    }

    &__toggle {
        cursor: pointer;

        border-radius: 10px;

        padding: 20px 10px 10px 10px;

        @include fonts.wendy-one-regular;

        font-size: 1.5rem;
    }

    &__body {

        width: 100%;
        border-collapse: collapse;

        & tr {

            width: 100%;
            display: flex;
            justify-content: end;
            gap: 10px;
            position: relative;
            padding: 20px;
            margin-bottom: 5px;

            & th a {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: start;
                text-indent: 30px;
            }
        }
    }
}

search {
    width: 100%;
    display: flex;
    justify-content: center;

    input {
        @include themes.border;
        @include themes.shadow;
        background-color: themes.themed('white');
        padding: 10px;
    }
}
