@use 'themes' as themes;

.card {
    background-color: themes.themed('green-background');

    width: 320px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 40px;

    border: themes.themed('border-width') solid themes.themed('white');
    border-radius: 10px;

    &__title {
        text-indent: 20px;
    }

    &__button {
        align-self: center;
        color: themes.themed('green-accent');
    }
}
