@use 'themes' as themes;
@use 'third_party/google/fonts' as fonts;

.security-radar {
    @include themes.border;
    @include themes.shadow;

    background-color: themes.themed('primary-accent');
    width: 350px;
    height: 410px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;

    position: relative;

    transition: opacity 0.4s ease, transform 0.1s ease;

    & svg {
        margin-top: 30px;
    }

    & h3 {
        position: absolute;
        margin-top: -22px;
        left: 10px;
        color: themes.themed('primary-foreground');
        font-size: 1.4rem;
        text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    }

    & &__log {
        color: themes.themed('primary-foreground');
        @include fonts.share-tech-mono-regular;
        max-height: 80px;
        overflow-y: auto;
        background: transparent;
        padding-right: 8px;
        scrollbar-width: thin;
        scrollbar-color: themes.themed('primary-foreground') themes.themed('primary-accent');
        width: 300px;
        text-align: center;

        & p {
            white-space: nowrap;
            margin: 2px 0;
            animation: fadeIn 0.3s ease;
        }
    }

    @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateX(-10px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
    }
}
