---
layout: default
---
<article>
    <div class="article-metadata">
        <span>
            <p>Published by </p><address>{{ page.author }}</address><p> on </p><time datetime="{{ page.date }}"> {{ page.date | date: "%B %-d, %Y" }} </time>
        </span>
        <a href="/writeups#{{ page.event }}">Back to overview</a>
    </div>
    <h6>{{page.event}}/</h6>
    <h1>{{ page.title }}</h1>
    <ul class="tag-list">
        {% for tag in page.tags %}
            <li class="tag tag--type-{{tag}}">{{ tag }}</li>
        {% endfor %}
    </ul>
    {{ content }}
</article>
