---
layout: default
---
<a href="/writeups#{{ page.event }}">Back to overview</a>
<article>
    <ul class="tag-list">
        {% for tag in page.tags %}
            <li class="tag">{{ tag }}</li>
        {% endfor %}
    </ul>
    <h1>{{ page.title }}</h1>
    <div class="article-metadata">
        <p>
            Published on <time datetime="{{ page.date }}"> {{ page.date | date: "%B %-d, %Y" }} </time>
            by <address>{{ page.author }}</address>
        </p>
    </div>
    {{ content }}
</article>
