@use "sass:map";

$colors: (
  "text": #240003,
  "white": #FFFFFF,

  "primary-background": #FDFAF1,
  "primary-background-light": #FFFEF9,

  "primary-foreground": #7F42C8,
  "primary-accent": #C7A1F5,

  "green-background": #9CFFAE,
  "green-accent": #44B558,
  "green-foreground": #19782B,

  "blue-background": #94C6FF,
  "blue-accent": #4591E6,
  "blue-foreground": #1C4C84,

  "red-background": #FF6755,
  "red-accent": #CE3422,
  "red-foreground": #770E02,

  "yellow-background": #FFEB87,
  "yellow-accent": #C8AF33,
  "yellow-foreground": #847111
);

@mixin border {
  border: solid 10px map-get($colors, 'white');
  border-radius: 15px;
}
