@use 'themes' as themes;

body {
    display: grid;
    grid-template-columns: [left] 10vw [center] 80vw [right] 10vw;
    grid-template-rows: [header] 40px [content] auto [footer] 20px;
    font-family: "Ubuntu", sans-serif;
}

header {
    grid-row: header;
    grid-column: left / right;
}

footer {
    grid-row: footer;
    grid-column: left / right;
}

main {
    grid-row: content;
    grid-column: center;
}

:root {
    font-size: 18px;
    font-weight: normal;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}
