@use 'themes' as themes;

body {
    display: grid;
    grid-template-columns: [left] 10vw [center] 80vw [right] 10vw;
    grid-template-rows: [header] 40px [content] auto [footer] 20px;
    font-family: "Ubuntu", sans-serif;
}

header {
    grid-row: header;
    grid-column: left / right;
}

footer {
    grid-row: footer;
    grid-column: left / right;
}

main {
    grid-row: content;
    grid-column: center;
}
