---
title: Writeups
permalink: "/writeups"
---
{% assign events = site.writeups | map: "event" | uniq | sort %}

<div class="accordion">
    <search>
        <input type="search" name="searchbar" id="js_writeup-search" placeholder="search...">
    </search>
    {% for event in events %}
        <details class="accordion__element js_searchable" id="{{ event }}">
            <summary class="accordion__toggle js_accordion__toggle">
                {{ event }}
            </summary>
            <table class="accordion__body">
                <tbody>
                    {% for writeup in site.writeups %}
                    {% if writeup.event == event %}
                        <tr class="js_searchable">
                            <th scope="row"><a href="{{ writeup.url }}">{{ writeup.title }}</a></th>
                            <td>
                                <ul class="tag-list">
                                    {% for tag in writeup.tags %}
                                        <li class="tag tag--type-{{tag}}">{{ tag }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </details>
    {% endfor %}
</div>
